root = true

[*]
# Configurable oxfmt items. Match this to oxfmt config
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 120

# Non oxfmt items
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 2

[*.md]
trim_trailing_whitespace = false
