# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Local env files
.env*
!.env.example
*.local

# Build Outputs
build/
dist/
.output/
.tanstack/
*.tgz

# Test Outputs
coverage/

# Logs
*.log*

# Extra Folders
.idea/
.vscode/
!.vscode/extensions.json
