@theme inline {
  /* Static Colors that don't change with theme */
  --color-white: var(--white);
  --color-black: var(--black);

  /* App colors that change with theme */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface-default: var(--surface-default);
  --color-surface-default-foreground: var(--surface-default-foreground);

  --color-surface-secondary: var(--surface-secondary);
  --color-surface-secondary-foreground: var(--surface-secondary-foreground);

  --color-surface-tertiary: var(--surface-tertiary);
  --color-surface-tertiary-foreground: var(--surface-tertiary-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-hover: var(--success-hover);
  --color-success-inv: color-mix(in oklab, var(--success) 15%, transparent);
  --color-success-inv-foreground: var(--success);
  --color-success-inv-hover: color-mix(in oklab, var(--success) 20%, transparent);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-hover: var(--warning-hover);
  --color-warning-inv: color-mix(in oklab, var(--warning) 15%, transparent);
  --color-warning-inv-foreground: var(--warning);
  --color-warning-inv-hover: color-mix(in oklab, var(--warning) 20%, transparent);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-hover: var(--danger-hover);
  --color-danger-inv: color-mix(in oklab, var(--danger) 15%, transparent);
  --color-danger-inv-foreground: var(--danger);
  --color-danger-inv-hover: color-mix(in oklab, var(--danger) 20%, transparent);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary-inv: color-mix(in oklab, var(--primary) 15%, transparent);
  --color-primary-inv-foreground: var(--primary);
  --color-primary-inv-hover: color-mix(in oklab, var(--primary) 20%, transparent);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-inv: color-mix(in oklab, var(--secondary) 15%, transparent);
  --color-secondary-inv-foreground: var(--secondary);
  --color-secondary-inv-hover: color-mix(in oklab, var(--secondary) 20%, transparent);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-hover: var(--muted-hover);
}
